Repository bagg3rs/richardbaguley.com, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, test

.github/labeler.yml:

documentation:
  - "docs/**"
  - "README.md"
  - "source/**"

github-workflow:
  - ".github/workflows/**"

test:
  - "tools/test.sh"

Update test.sh
  tools/test.sh
Labels: test

🔥 remove commit lint
  .github/workflows/commitlint.yml
Labels: github-workflow

add space
  _posts/2022-06-15-not-possible-to-fast-forward.md
Labels: none

📝 update role
  _config.yml
Labels: none

Update 2022-05-30-latest-work.md
  _posts/2022-05-30-latest-work.md
Labels: none

📝 Update about.md
  _tabs/about.md
Labels: none

📝 Update 2022-05-30-latest-work.md
  _posts/2022-05-30-latest-work.md
Labels: none

🤖 Create dependabot.yml
  .github/dependabot.yml
Labels: none

✨ Add project portfolio spec documents
  .kiro/specs/project-portfolio/design.md
  .kiro/specs/project-portfolio/requirements.md
  .kiro/specs/project-portfolio/tasks.md
Labels: none

Update about page: Now Solutions Architect at AWS NZ
  _tabs/about.md
Labels: none

Update Latest work post: AWS Senior SA + recent projects
  _posts/2022-05-30-latest-work.md
Labels: none

Fix broken link: GitHub stats badge now links to profile
  _posts/2022-05-30-latest-work.md
Labels: none

Remove broken GitHub stats widget, add Current focus + Connect sections
  _posts/2022-05-30-latest-work.md
Labels: none

Change title to 'Now' (remove emoji)
  _posts/2022-05-30-latest-work.md
Labels: none

Update role from MoJ to AWS Customer Solutions Architect
  _config.yml
  _tabs/about.md
Labels: none

Clean up root directory - remove unused theme development files
  .commitlintrc.json
  .nojekyll
  .versionrc.json
  gulpfile.js/index.js
  gulpfile.js/tasks/js.js
  jekyll-theme-chirpy.gemspec
  package.json
Labels: none

Fix Gemfile: Replace gemspec with explicit gem declaration
  Gemfile
Labels: none

Update LICENSE: Use real name and update copyright year
  LICENSE
Labels: none

wip: pre-.53-decom snapshot
  tools/test.sh
Labels: test
